<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FacTiaSafe">
        <activity
            android:name=".DetallesActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".CategoriasActivity"
            android:exported="false" />
        <activity
            android:name=".NotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionEditarActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacidadSeguridadActivity"
            android:exported="false" />
        <activity
            android:name=".PreferenciasPdfActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".GarantiasActivity"
            android:exported="false" />
        <activity
            android:name=".EntradaManualActivity"
            android:exported="false" />
        <activity
            android:name=".AcercaDeActivity"
            android:exported="false" />
        <activity
            android:name=".AjustesActivity"
            android:exported="false" />
        <activity
            android:name=".EditarFacturaActivity"
            android:exported="false" />
        <activity
            android:name=".EscanearActivity"
            android:exported="false" />
        <activity
            android:name=".ImportPdfActivity"
            android:exported="false" />
        <activity
            android:name=".FacturaActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>